.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2c2f33;
}

.contact h1 {
  color: white;
  font-size: 45px;
  margin-bottom: 20px;
  margin-top: 3%;
}

.contact h2 {
  margin-top: 20px;
  color: white;
}

.contact ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.contact li {
  margin: 20px 10px 20px 5px;
}

.contact p {
  margin-bottom: 50px;
  color: white;
}
.contact span {
  color: #00af83;
}

.contact a {
  color: white;
  font-size: 60px;
}
