.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 200px;
  margin: 1rem auto;
  -webkit-box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}

.project a {
  color: inherit;
}

.project a:hover {
  color: #00af83;
}

.project:hover .photo {
  -webkit-transform: scale(1.3) rotate(3deg);
          transform: scale(1.3) rotate(3deg);
}

.project .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}

.project .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.project .details,
.project .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}

.project .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -108%;
  margin: auto;
  -webkit-transition: left 0.2s;
  transition: left 0.2s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}

.project .details a {
  -webkit-text-decoration: dotted underline;
          text-decoration: dotted underline;
}

.project .details ul li {
  display: inline-block;
}

.project .details .tech {
  color: #00af83;
  font-size: 1.1rem;
}

.project .description {
  padding: 1rem;
  background: #fff;
  position: relative;
}

.project .description p {
  height: 50%;
}

.project .description h1,
.project .description h2 {
  font-family: Poppins, sans-serif;
}

.project .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}

.project .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}

.project .description .read-more {
  text-align: left;
  margin-top: 20px;
}

.project .description .read-more a {
  color: #00af83;
  display: inline-block;
  position: relative;
  margin: 0 5px 0 5px;
}

.project .description .project-links {
  bottom: 0;
  position: absolute;
  margin-bottom: 10px;
}

.project .description .project-links a {
  display: inline-block;
  position: relative;
}

.project p {
  position: relative;
  margin: 1rem 0 0;
}

.project p:first-of-type {
  margin-top: 1.25rem;
}

.project p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #00af83;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}

.project:hover .details {
  left: 0%;
}

@media (min-width: 640px) {
  .project {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 700px;
  }
  .project .meta {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    height: auto;
  }
  .project .description {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
  .project .description:before {
    -webkit-transform: skewX(-3deg);
            transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .project.alt {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .project.alt .description:before {
    left: inherit;
    right: -10px;
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  .project.alt .details {
    padding-left: 25px;
  }
}

.small-underline {
  width: 40px;
  height: 5px;
  background-color: #00af83;
}
/*# sourceMappingURL=Project.css.map */